
<li id="userDropdown" uib-dropdown ng-if="isAuthenticated.Value">
    <a href="#" uib-dropdown-toggle data-toggle="userDropdown" class="userBtn" >
        <span class="glyphicon glyphicon-user"></span> {{User.login}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" uib-dropdown-menu>
        <li><a href="#" >Настройки</a></li>
        <li class="divider"></li>
        <li><a href="#" id="logOffBtn" ng-click="logOff()" >Выйти</a></li>
    </ul>
</li>
<li ng-if="!isAuthenticated.Value"><a href="~/Registration"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
<li ng-if="!isAuthenticated.Value"><a href="~/Login" id="loginBtn"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
