<div ng-controller="NavBarController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="/"><img alt="GameStore" src="~/Images/logo.png" id="img_logo"></a>
            </div>
            <div class="collapse navbar-collapse" uib-collapse="isCollapsed" id="navBar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="navbar-form">
                            <div class="input-group">
                                <input type="text" class="form-control no-right-border" ng-model="SearchText"  placeholder="Игра...">
                                <div class="input-group-btn">
                                    <button class="btn btn-danger no-left-border" ng-click="Search()">
                                        Поиск
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    @Html.Partial("_login")
                </ul>

            </div>
        </div>
        <div >
            <div class="progress barAnimation" style="margin: 0;" ng-class="{'barOpen': loadBar.show}" >
                <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                </div>
            </div>
        </div>
    </nav>
</div>
